<!DOCTYPE html>
<html lang="en">


<!-- index22:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
</head>

<body>
    <div class="main-wrapper">
        <!-- header-->
        <div class="header">
			<div class="header-left">
				<a href="#" class="logo">
					<span>ISAMM PFE</span>
				</a>
			</div>
            
            
        </div>
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="#"> <span>Année universitaire</span></a>
                        </li>
						<li>
                            <a href="#"> <span>Enseignants</span></a>
                        </li>
                        <li >
                            <a href="#"> <span>Etudiants</span></a>
                        </li>
                        <li>
                            <a href="#"> <span>PFE</span></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<div class="dash-widget-info">
								<h3>98</h3>
								<span class="widget-title1">Enseignant </i></span>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <div class="dash-widget-info">
                                <h3>1072</h3>
                                <span class="widget-title2">Etudiants</i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            
                            <div class="dash-widget-info">
                                <h3>72</h3>
                                <span class="widget-title3">PFE </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
				<div class="row">
					
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block">Etudiants</h4> <a href="#" class="btn btn-primary float-right">afficher tout</a>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="d-none">
											<tr>
												<th>Nom et prenom</th>
												<th>classe</th>
												<th>Encadrant</th>
												<th class="text-right">PFE</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">Bernardo Galaviz <span>3 ING 2</span></a></h2>
												</td>                 
												<td>
													<h5 class="time-title p-0">Encadré par</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">PFE</h5>
													<p>E-commerce</p>
												</td>
												
											</tr>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">Bernardo Galaviz <span>3 ING 2</span></a></h2>
												</td>                 
												<td>
													<h5 class="time-title p-0">Encadré par</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">PFE</h5>
													<p>E-commerce</p>
												</td>
												
											</tr>
                                            <tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">Bernardo Galaviz <span>3 ING 2</span></a></h2>
												</td>                 
												<td>
													<h5 class="time-title p-0">Encadré par</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">PFE</h5>
													<p>E-commerce</p>
												</td>
												
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card member-panel">
							<div class="card-header bg-white">
								<h4 class="card-title mb-0">Année universitaire précedente</h4>
							</div>
                            <div class="card-body">
                                <ul class="contact-list">
                                    <li>
                                        <div class="contact-cont">
                                            
                                            <div class="contact-info">
                                                <span class="contact-name text-ellipsis">2019/2020</span>
                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-cont">
                                            
                                                <span class="contact-name text-ellipsis">2019/2020</span>
                                                
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-cont">
                                                <span class="contact-name text-ellipsis">2018/2019</span>
                                                
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-cont">
                                            
                                                <span class="contact-name text-ellipsis">2017/2018</span>
                                                
                                            
                                        </div>
                                    </li>
                                    
                                    
                                    
                                </ul>
                            </div>
                            
                        </div>
                    </div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block">Enseignants</h4>
							</div>
							<div class="card-block">
								<div class="table-responsive">
									<table class="table mb-0 new-patient-table">
										<tbody>
											<tr>
												<td> 
													<h2>John Doe</h2>
												</td>
												<td>Johndoe21@gmail.com</td>
												<td>+1-202-555-0125</td>
												</tr>
											<tr>
												<td>
													<h2>Richard</h2>
												</td>
												<td>Richard123@yahoo.com</td>
												<td>202-555-0127</td>
												</tr>
											<tr>
												<td>
													<h2>Villiam</h2>
												</td>
												<td>Richard123@yahoo.com</td>
												<td>+1-202-555-0106</td>
												</tr>
											<tr>
												<td>
													<h2>Martin</h2>
												</td>
												<td>Richard123@yahoo.com</td>
												<td>776-2323 89562015</td>
													</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4 col-xl-4">
						<div class="hospital-barchart">
							<h4 class="card-title d-inline-block">Parametrer les délais des PFE</h4>
						</div>
						
					 </div>
				</div>
            </div>
            
        </div>
    </div>
    
</body>


<!-- index22:59-->
</html>