<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
</head>

<body>
    <div class="main-wrapper">
        <!-- header-->
        <div class="header">
			<div class="header-left">
				<a href="#" class="logo">
					<span>ISAMM PFE</span>
				</a>
			</div>
            
        </div>
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="#"> <span>Année universitaire</span></a>
                        </li>
						<li>
                            <a href="#"> <span>Enseignants</span></a>
                        </li>
                        <li >
                            <a href="#"> <span>Etudiants</span></a>
                        </li>
                        <li class="active">
                            <a href="#"> <span>PFE</span></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">PFE</h4>
                    </div>
                    
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-border table-striped custom-table datatable mb-0">
								<thead>
									<tr>
										<th>PFE</th>
										<th>Etudiant</th>
										<th>Encadrant</th>
										<th>Date d'acceptation</th>
										
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="#">E-commerce</a></td>
										<td>Mariem mariel</td>
										<td>Mohamed Salah</td>
										<td class=> 2 Fevrier 2021 </td>
                                        
									</tr>
                                    <tr>
										<td><a href="#">E-commerce</a></td>
										<td>Mariem mariel</td>
										<td>Mohamed Salah</td>
										<td class=> 2 Fevrier 2021 </td>
                                        
									</tr>
                                    <tr>
										<td><a href="#">E-commerce</a></td>
										<td>Mariem mariel</td>
										<td>Mohamed Salah</td>
										<td class=> 2 Fevrier 2021 </td>
                                        
									</tr>
                                    
								</tbody>
							</table>
						</div>
					</div>
                    <div class="col-md-12" style="margin-top: 50px;" hidden>
                        <p>Description du Pfe</p>
                    </div>
                </div>
            </div>
            
        </div>
		
    </div>
   
</body>

</html>